@page "/loadreferral"

<PageTitle>Load referral</PageTitle>

@using MediatR;
@using Microsoft.AspNetCore.Components.Forms
@inject IMediator _mediator;

<h1>Load patient referral</h1>

<InputFile OnChange="@LoadFiles" />

@code {

    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }

    private async void LoadFiles(InputFileChangeEventArgs e)
    {
        try
        {
            await LoadFilesTask(e);
        }
        catch (System.Exception ex)
        {
            // TODO: Handle
            throw;
        }
    }

    private async Task LoadFilesTask(InputFileChangeEventArgs e)
    {
        var file = e.File;
        using var rs = file.OpenReadStream();
        var parsedContentResult = await _mediator.Send(new ParseReferralFile.Request(rs, "json", 1));

        parsedContentResult.Switch(
            (parsedContent) => PopulateForm(parsedContent),
            (errors) => NotifyUserOfError(errors)
        );
    }

    private void PopulateForm(ParseReferralFile.Referral referral)
    {
        throw new NotImplementedException();
    }

    private void NotifyUserOfError(List<ErrorOr.Error> errors) => throw new NotImplementedException();

}
