@page "/load-referral"

<PageTitle>Load Referral</PageTitle>

@using MediatR;
@using Microsoft.AspNetCore.Components.Forms;
@using Microsoft.AspNetCore.Components.Web;
@inject IMediator _mediator;

<h1>Load patient referrals</h1>

<InputFile OnChange="@LoadFiles" />

<EditForm Model="@Referral">
    <DataAnnotationsValidator />

    <InputText id="study" @bind-Value="Referral.Study" />

    <button type="submit">Add referral</button>
</EditForm>

@code {

    public ReferralViewModel Referral = new();
    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }

    private async void LoadFiles(InputFileChangeEventArgs e)
    {
        try
        {
            await LoadFilesTask(e);
        }
        catch (System.Exception ex)
        {
            // TODO: Handle
            throw;
        }
    }

    private async Task LoadFilesTask(InputFileChangeEventArgs e)
    {
        var file = e.File;
        using var rs = file.OpenReadStream();
        var parsedContentResult = await _mediator.Send(new ParseReferralFile.Request(rs, "json", 1));

        parsedContentResult.Switch(
            (parsedContent) => PopulateForm(parsedContent),
            (errors) => NotifyUserOfError(errors)
        );
    }

    private void PopulateForm(ParseReferralFile.Referral referral)
    {
        Referral = referral.Map<ReferralViewModel>();
    }

    private void NotifyUserOfError(List<ErrorOr.Error> errors) => throw new NotImplementedException();

}
