@page "/loadreferral"

<PageTitle>Load referral</PageTitle>

@using MediatR;
@inject IMediator mediator;

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@code {

    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }
}
